img {
  max-width: 100%;
  _width: 100%;
  height: auto;
  width: auto\9; }

img {
  border: none;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

object {
  max-width: 100%;
  _width: 100%; }

iframe {
  max-width: 100%;
  _width: 100%; }

.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .cf:after {
    clear: both; }

.buttons {
  margin: 4em 0 6em 0; }

footer[role="contentinfo"] {
  margin-top: 4em; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: white;
  font-size: 100%;
  font-family: 'helvetica', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 4em; }

code {
  color: #53862C; }

a {
  text-decoration: none;
  color: #53862C; }
