@import "bower_components/basscss/scss/basscss-lite";
@import "partials/helpers";
@import "partials/buttons";
@import "partials/footer";

* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
	font-size: 100%;
	font-family: 'helvetica', sans-serif;
	font-weight: 100;
	text-align: center;
	padding: 4em;
  background: #f2f2f2;
}

code {
  color: green;
}

a {
  text-decoration: none;
  color: green;
}