@import "partials/helpers";
@import "partials/buttons";
@import "partials/footer";

$light-grey: lighten(black, 96%);
$green: #53862C;

* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	background: white;
	font: {
		size: 100%;
		family: 'helvetica', sans-serif;
		weight: 100;
	}
	text-align: center;
	padding: 4em;
}

code {
  color: $green;
}

a {
  text-decoration: none;
  color: $green;
}
