@charset "utf-8";

/*-------------------------------------------------------------------
BASSCSS
http://www.basscss.com
http://www.basscss.com/docs/
-------------------------------------------------------------------*/
@import "bower_components/basscss-sass/defaults";
@import "bower_components/basscss-sass/color-base";
@import "bower_components/basscss-sass/utility-layout";
@import "bower_components/basscss-sass/base-reset";
@import "bower_components/basscss-sass/base-typography";
@import "bower_components/basscss-sass/grid";
@import "bower_components/basscss-sass/table-object";
@import "bower_components/basscss-sass/white-space";
@import "bower_components/basscss-sass/utility-typography";
@import "bower_components/basscss-sass/responsive-states";
@import "bower_components/basscss-sass/responsive-white-space";

/*-------------------------------------------------------------------
Ionicons
http://ionicons.com/
-------------------------------------------------------------------*/
@import "bower_components/ionicons/scss/ionicons-variables";
@import "bower_components/ionicons/scss/ionicons-font";
@import "bower_components/ionicons/scss/ionicons-icons";

/*-------------------------------------------------------------------
Base
-------------------------------------------------------------------*/
@import "base/variables";
@import "base/colors";
@import "base/type";
@import "base/links";
@import "base/forms";
@import "base/tables";
@import "base/buttons";
@import "base/base";
@import "base/utility";
@import "base/mixins";

/*-------------------------------------------------------------------
Common
-------------------------------------------------------------------*/
@import "common/type";


/*-------------------------------------------------------------------
Presentation
-------------------------------------------------------------------*/
main h1 {
	color: white;
}


/*-------------------------------------------------------------------
Code
-------------------------------------------------------------------*/
pre {
	background: #333;
	color: white;
	padding: 0;
	font-family: Menlo, Monaco, monospace;
	font-size: 1.2rem;
	tab-size: 2;
	word-break: normal;
	word-break: normal;
	hyphens: none;
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	text-align: left;
	padding: 1em 2em;
	margin-top: 2em;
	margin-bottom: 2em;

	code {
		margin: 0;
		padding: 0
	}
}