img {
	max-width: 100%;
	_width   : 100%;
	height   :auto;
	width    :auto\9;
}

img {
	border: none;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

object {
	max-width: 100%;
	_width: 100%;
}

iframe {
	max-width: 100%;
	_width: 100%;
}


.cf {
	zoom:1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}