
/*-------------------------------------------------------------------
Demo page
-------------------------------------------------------------------*/
main h1 {
	color: white;
}

pre {
	background: #333;
	color: white;
	padding: 0;
	font-family: Menlo, Monaco, monospace;
	font-size: 1.2rem;
	tab-size: 2;
	word-break: normal;
	word-break: normal;
	hyphens: none;
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	text-align: left;
	padding: 1em 2em;
	margin-top: 2em;
	margin-bottom: 2em;

	code {
		margin: 0;
		padding: 0
	}
}

.footer a {
	-webkit-font-smoothing: antialiased;
	color: white;
	&:visited,
	&:active,
	&:focus {
		color: white;
	}
}